/* main stylesheet */
body {
  display:flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;

  width: 80%;
  min-width: 960px;
  margin: 0 auto 0 auto;

}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  list-style-type: none;
}

nav li {
  margin: 10px 20px;
}

/* creation du menu:
  aligne le logo home à gauche et les items à droite
  tuto : 
  https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535

*/