/* main stylesheet */

/* color scheme
  #17252A > text / nav bg color
  #2B7A78 > shadow ?
  #3AAFA9 > background
  #DEF2F1 > grey text
  #FEFFFF > white title

*/

html {
  background-color: #FEFFFF;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;

  width: 100%;
  min-width: 960px;
  min-height: 100vh;
  margin: 0 auto 0 auto;

  background-color: #3AAFA9;
  color: #17252A;

}

header {
  width: 100%;
  background-color: #17252A;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 10px 20px;
  font-size: 16px;
}


nav a {
  text-decoration: none;
  color: #DEF2F1;
}

nav a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.title {
  color: #FEFFFF;
}

/* creation du menu:
  aligne le logo home à gauche et les items à droite
  tuto : 
  https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535

*/