/* main stylesheet */

/* color scheme
  clean and modern !
  
  #17252A > text / nav bg color
  #2B7A78 > dark turquoise shadow ?
  #3AAFA9 > turquoise background
  #DEF2F1 > grey text
  #FEFFFF > white title & links

*/

html {
  background-color: #FEFFFF;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;

  width: 100%;
  min-width: 960px;
  min-height: 100vh;
  margin: 0 auto 0 auto;

  /* background-color: #3AAFA9; */
  background: url('../imgs/bg_turquoise_01.png');
  color: #17252A;

}

header {
  width: 100%;
  background-color: #17252A;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 10px 20px;
  font-size: 1.2em;
}


nav a {
  text-decoration: none;
  font-weight: bold;
  color: #FEFFFF;
}

nav a:hover {
  text-decoration: none;
  color: #3AAFA9;
}

.logo a:hover {

}

.menu {
  padding: 0 100px 0 100px;
}

.logo {
  flex: 1;
}

.title {
  color: #FEFFFF;
  font-size: 1.8em;
}

main {
  flex: 1;
  width: 80%;
}

footer {
  width: 80%;
  color: #17252A;
  font-size: 0.8em;
  background-color: #2B7A78;
  text-align: center;
}

footer p {
  margin: 5px;
}

article {
  margin-bottom: 20px;
  padding: 20px;
  color: #17252A;
  background-color: #DEF2F1;
}

article h1 {
  color: #17252A;
  font-size: 2em;
}

aside h1 {
  color: #FEFFFF;
  font-size: 1.4em;
}

p {
  margin: 10px 20px 10px 20px;
}

p.texte {
  font-size: 1em;
  margin-bottom: 5px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 25px 20px 10px 20px;
}

p.code {
  font-size: 1em;
  /* color: #FEFFFF; */
  color: #DEF2F1;
  background-color:  #17252A;  
  padding: 5px 10px;
  margin-top: 0px;
}



/* creation du menu:
  aligne le logo home à gauche et les items à droite
  tuto : 
  https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535

*/